@import url(http://fonts.googleapis.com/css?family=Nunito);
@import "font-awesome/css/font-awesome.min.css";
@import "accordion.css";
@import "header.css";
@import "shopping.css";
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #003545;
}

a {
    text-decoration: none;
}

.containter {
    display: block;
    background-color: #ffffff;
    padding: 25px;
}

.form-box {
    margin-top: 20px;
    padding: 40px 20px 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#ui-view {
    position: absolute;
    margin-left: 250px;
    background: #ffffff;
    width: 100%;
    min-height: 120%;
}

.app-content {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 5px;
}

.app-content > div {
    margin: 25px;
    padding: 5px;
}

form {
    height: 100%;
}

.alert {
    padding: 15px;
    margin: 20px 20px 20px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.message-class-true {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
    background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}

.message-class-false {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
    background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}