.navbar {
    background: #00394b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00394b 0%, #002535 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00394b), color-stop(100%, #002535));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00394b 0%, #002535 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00394b 0%, #002535 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00394b 0%, #002535 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #00394b 0%, #002535 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00394b', endColorstr='#002535', GradientType=0);
    /* IE6-9 */
    position: fixed;
    min-height: 90px;
    max-height: 90px;
    border: 1px solid transparent;
    color: white;
    z-index: 100;
    width: 100%;
    top: 0;
}

.nav-bar-logo {
    display: block;
    float: left;
    margin: 10px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 15px 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-brand {
    float: left;
    padding: 35px 25px;
    font-size: 19px;
    line-height: 10px;
    color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.nav {
    margin-bottom: 0;
    list-style: none;
    color: white;
    position: relative;
    float: left;
}

.nav > li {
    position: relative;
    display: block;
    float: left;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 35px 15px;
    color: white;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #00475d;
    height: 50px;
    border-left: 5px solid lightgreen;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #00394b;
    border-color: white;
}

.nav > li > a > img {
    max-width: none;
}

.navbar-nav {
    margin: 0;
    float: left;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 20px;
    transition: all 0.15s;
}

.navbar-nav > li > a > i {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    float: left;
    padding: 0 5px;
    line-height: 20px;
}

.navbar-nav-right > li {
    position: relative;
    display: block;
    float: right;
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 0;
    padding-left: 0;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse.in {
    overflow-y: auto;
}

.navbar-header {
    float: left;
}
