@empty-margin: 0px 0px 0px 0px;
@empty-padding: @empty-margin;

@standard-margin: 15px 15px 15px 15px;
@standard-margin-single: 15px; 

@button-radius: 27px;
@button-shadow: inset 0px 1px 1px 0px;

@buy-button-color-a: #3D94F6;
@buy-button-color-b: #1E62D0;
@buy-button-color-shadow: #97C4FE;
@buy-button-box-shadow: @button-shadow @buy-button-color-shadow;

@light-grey-text: #727272;
@price-color: #BB5710;

.shopping {
  display: block;
  margin: @standard-margin;

  > h2 > a {
    color: #6820cf;
    margin: @standard-margin;
  }

  > div > a > div > img {
    height: 90px;
  }

  > div > a > div {
    color: #6820CF;
    margin-left: @standard-margin-single;

    > h3 > span {
      margin-left: @standard-margin-single;
    }

    > p > span {
      margin-left: @standard-margin-single;
    }
  }
}

.shopping-list {
  color: #6820CF;
  display: block;
}

.item-tile {
  display: block;
  margin: @standard-margin;

  > h3 {
    color: #BB5710;
    margin: @standard-margin-single auto auto 0;
  }

  > img {
    margin-left: @standard-margin-single;
    border: 2px medium #619ABB;
  }

  > p {
    margin: @standard-margin-single auto auto 0;
  }

  > div {
    > div {
      > p {
        margin: 10px auto auto 0;
        position: relative;

        > span {
          color: black;
          margin-left: @standard-margin-single;
          padding: @standard-margin-single auto auto @standard-margin-single;
        }

        > strong {
          color: #116292;
          margin-top: 50px;
        }
      }

      > ul {
        margin-left: @standard-margin-single;

        > li {
          list-style-type: disc;
          margin-left: @standard-margin-single;
        }
      }
    }
  }
}

.short-description {
  color: @light-grey-text;
}

.category {

}

.category-main {
  > h2 {
    font-size: 20px;
  }
}

.price {
  color: @price-color;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  -moz-box-shadow: @button-shadow #97e299;
  -webkit-box-shadow: @button-shadow #97e299;
  box-shadow: @button-shadow #97e299;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #49d44c), color-stop(1, #09ae0c) );
  background: -moz-linear-gradient( center top, #49d44c 5%, #09ae0c 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49d44c', endColorstr='#09ae0c');
  background-color: #49d44c;
  -webkit-border-top-left-radius: @button-radius;
  -moz-border-radius-topleft: @button-radius;
  border-top-left-radius: @button-radius;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: @button-radius;
  -moz-border-radius-bottomright: @button-radius;
  border-bottom-right-radius: @button-radius;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0px;
  border: 1px solid #09ae0c;
  display: inline-block;
  color: #FFFFFF;
  font-family: Arial;
  font-size: @standard-margin-single;
  font-weight: bold;
  font-style: normal;
  line-height: 23px !important;
  text-decoration: none;
  text-align: center;
  -webkit-text-shadow: 0px 4px 0px #15cd19;
  text-shadow: 0px 4px 0px #15cd19;
  padding: 5px 5px 5px 5px;
  margin: @standard-margin-single 5px 5px 5px;
  width: 180px;
}

.btn:visited,
.btn:focus,
.btn:active {
  -webkit-border-top-left-radius: @button-radius;
  -moz-border-radius-topleft: @button-radius;
  border-top-left-radius: @button-radius;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: @button-radius;
  -moz-border-radius-bottomright: @button-radius;
  border-bottom-right-radius: @button-radius;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0px;
  border: 1px solid #45cb47;
  position: relative;
  top: 1px;
}

.wishlist-button {
  -moz-box-shadow: @button-shadow #fed897;
  -webkit-box-shadow: @button-shadow #fed897;
  box-shadow: @button-shadow #fed897;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
  background: -moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
  background-color: #f6b33d;
  border: 1px solid #eda933;
  -webkit-text-shadow: 0px 4px 0px #cd8a15;
  text-shadow: 0px 4px 0px #cd8a15;
}

.wishlist-button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
  background: -moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
  background-color: #d29105;
}

.buy-button {
  -moz-box-shadow: @buy-button-box-shadow;
  -webkit-box-shadow: @buy-button-box-shadow;
  box-shadow: @buy-button-box-shadow;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, @buy-button-color-a), color-stop(1, @buy-button-color-b) );
  background: -moz-linear-gradient( center top, @buy-button-color-a 5%, @buy-button-color-b 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color: @buy-button-color-a;
  -webkit-border-top-left-radius: @button-radius;
  -moz-border-radius-topleft: @button-radius;
  border-top-left-radius: @button-radius;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: @button-radius;
  -moz-border-radius-bottomright: @button-radius;
  border-bottom-right-radius: @button-radius;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0px;
  border: 1px solid #337fed;
  display: inline-block;
  color: #FFFFFF;
  font-family: Arial;
  font-size: @standard-margin-single;
  font-weight: bold;
  font-style: normal;
  height: 46px;
  line-height: 23px !important;
  width: 156px;
  text-decoration: none;
  text-align: center;
  -webkit-text-shadow: 0px 4px 0px #1661ad;
  text-shadow: 0px 4px 0px #1661ad;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.buy-button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, @buy-button-color-b), color-stop(1, #3d94f6) );
  background: -moz-linear-gradient( center top, @buy-button-color-b 5%, @buy-button-color-a 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E62D0', endColorstr='#3D94F6');
  background-color: @buy-button-color-b;
}

.buy-button:active {
  border: 1px solid @buy-button-color-a;
  position: relative;
  top: 1px;
}

.orders {
  display: block;
  background: #EEEEEE;
  margin: 25px;

  > h1 {
    color: #1661AD;
    font-size: 16px;
    font-weight: bold;
  }

  > table {
    border: 0px none;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: @empty-padding;
    text-align: left;

    > tbody > tr {
      color: @light-grey-text;
      font-size: 12px;

      > tr {
        border-bottom: 1px groove #FFFFFF;
        padding: @empty-padding;
        margin: @empty-margin;

        > th {
          color: #BB5710;
          font-size: 14px;
          background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #D4D4D4) );
          background: -moz-linear-gradient( center top, #FFFFFF 5%, #D4D4D4 100% );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D4D4D4');
          background-color: #FFFFFF;
          margin: @empty-margin !important;
        }

        > td {
          color: @light-grey-text;
          font-size: 12px;
          margin: @empty-margin !important;

          > a > img {
            resize: both;
            width: 90px;
            height: 45px;
          }

          > input[type="text"] {
            width: 80px;
            text-align: right;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EEEEEE), color-stop(1, #FFFFFF));
            background: -moz-linear-gradient(center top, #EEEEEE 5%, #FFFFFF 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
            background-color: #EEEEEE;
            border: 1px inset;
          }
        }
      }
    }
  }
}

.grid-checkbox,
.grid-number {
  width: 20px;
}

.grid-image {
  width: 110px;
}

.grid-name {
  width: 300px;
}

.grid-price {
  width: 100px;
  text-align: right;
}

.grid-quantity {
  width: 90px;
}

.grid-total-space {
  width: 550px;
}

.grid-total {
  width: 100px;
  font-weight: bold;
  font-size: 14px !important;
  text-align: right;
}

.grid-total-desc {
  width: 90px;
  font-weight: bold;
  font-size: 14px !important;
}

.wishlist-new {
  display: block;
  font-weight: bold;
  float: left;
  clear: left;

  > span {
    display: inline;

    > input[type="text"] {
      width: 80px;
      text-align: right;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EEEEEE), color-stop(1, #FFFFFF));
      background: -moz-linear-gradient(center top, #EEEEEE 5%, #FFFFFF 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
      background-color: #EEEEEE;
      border: 1px inset;
    }
  }

  > button {
    float: left;
    clear: left;
  }
}

.listbox {
  font-size: 12px;
  font-weight: normal;
  border: groove;
  background-color: white;

  > li {
    list-style-type: none;
  }
}
