.shopping {
    display: block;
    margin: 15px 15px 15px 15px;
    float: left;
}

.shopping > h2 > a {
    color: #6820cf;
}

.shopping > div {
    float: left;
    display: block;
}

.shopping > div > a > div {
    color: #6820CF;
}

.shopping > div > a > div > img {
    height: 100px;
    width: 100px;
}

.shopping-list {
    color: #6820CF;
    display: block;
    float: left;
}

.item-tile {
    display: block;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 10px 10px 10px 15px;
    width: 300px;
    height: 250px;
    background: #FFF;
    margin: 20px auto;
    margin-right: 35px;
    float: right;
    text-align: left;
}

.item-tile > h3 {
    color: #BB5710;
    margin: 15px auto auto 0;
}

.item-tile > img {
    margin-left: 15px;
    border: 2px medium #619ABB;
    width: 100px;
    height: 120px;
}

.item-tile > p {
    margin: 15px auto auto 0;
}

.item-tile > div > div > p {
    margin: 10px auto auto 0;
    position: relative;
}

.item-tile > div > div > p > span {
    color: black;
    margin-left: 15px;
    padding: 15px auto auto 15px;
}

.item-tile > div > div > p > strong {
    color: #116292;
    margin-top: 50px;
}

.item-tile > div > div > ul {
    margin-left: 15px;
}

.item-tile > div > div > ul > li {
    list-style-type: disc;
    margin-left: 15px;
}

.item-tile:before,
.item-tile:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.item-tile:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.item-desc {
    display: block;
    margin: 15px 15px 15px 15px;
}

.item-desc > h3 {
    color: #BB5710;
    margin: 15px auto auto 0;
}

.item-desc > img {
    margin-left: 15px;
    border: 2px medium #619ABB;
    width: 340px;
    height: 340px;
}

.item-desc > p {
    margin: 15px auto auto 0;
}

.item-desc > div > div > p {
    margin: 10px auto auto 0;
    position: relative;
}

.item-desc > div > div > p > span {
    color: black;
    margin-left: 15px;
    padding: 15px auto auto 15px;
}

.item-desc > div > div > p > strong {
    color: #116292;
    margin-top: 50px;
}

.item-desc > div > div > ul {
    margin-left: 15px;
}

.item-desc > div > div > ul > li {
    list-style-type: disc;
    margin-left: 15px;
}

.short-description {
    color: #727272;
}

.category-main > h2 {
    font-size: 20px;
}

.price {
    color: #bb5710;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    -moz-box-shadow: inset 0px 1px 1px 0px #97e299;
    -webkit-box-shadow: inset 0px 1px 1px 0px #97e299;
    box-shadow: inset 0px 1px 1px 0px #97e299;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49d44c), color-stop(1, #09ae0c));
    background: -moz-linear-gradient(center top, #49d44c 5%, #09ae0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49d44c', endColorstr='#09ae0c');
    background-color: #49d44c;
    -webkit-border-top-left-radius: 27px;
    -moz-border-radius-topleft: 27px;
    border-top-left-radius: 27px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 27px;
    -moz-border-radius-bottomright: 27px;
    border-bottom-right-radius: 27px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #09ae0c;
    display: inline-block;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    line-height: 23px !important;
    text-decoration: none;
    text-align: center;
    -webkit-text-shadow: 0px 4px 0px #15cd19;
    text-shadow: 0px 4px 0px #15cd19;
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 5px 5px;
    width: 180px;
}

.btn:visited,
.btn:focus,
.btn:active {
    -webkit-border-top-left-radius: 27px;
    -moz-border-radius-topleft: 27px;
    border-top-left-radius: 27px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 27px;
    -moz-border-radius-bottomright: 27px;
    border-bottom-right-radius: 27px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #45cb47;
    position: relative;
    top: 1px;
}

.wishlist-button {
    -moz-box-shadow: inset 0px 1px 1px 0px #fed897;
    -webkit-box-shadow: inset 0px 1px 1px 0px #fed897;
    box-shadow: inset 0px 1px 1px 0px #fed897;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105));
    background: -moz-linear-gradient(center top, #f6b33d 5%, #d29105 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
    background-color: #f6b33d;
    border: 1px solid #eda933;
    -webkit-text-shadow: 0px 4px 0px #cd8a15;
    text-shadow: 0px 4px 0px #cd8a15;
}

.wishlist-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d));
    background: -moz-linear-gradient(center top, #d29105 5%, #f6b33d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
    background-color: #d29105;
}

.buy-button {
    -moz-box-shadow: inset 0px 1px 1px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 1px 0px #97c4fe;
    box-shadow: inset 0px 1px 1px 0px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color: #3d94f6;
    -webkit-border-top-left-radius: 27px;
    -moz-border-radius-topleft: 27px;
    border-top-left-radius: 27px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 27px;
    -moz-border-radius-bottomright: 27px;
    border-bottom-right-radius: 27px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #337fed;
    display: inline-block;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 46px;
    line-height: 23px !important;
    width: 156px;
    text-decoration: none;
    text-align: center;
    -webkit-text-shadow: 0px 4px 0px #1661ad;
    text-shadow: 0px 4px 0px #1661ad;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.buy-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E62D0', endColorstr='#3D94F6');
    background-color: #1e62d0;
}

.buy-button:active {
    border: 1px solid #3d94f6;
    position: relative;
    top: 1px;
}

.buy-checkout {
    float: right;
}

.orders {
    display: block;
    margin: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 10px 10px 10px 15px;
}

.orders > h1 {
    color: #1661AD;
    font-size: 16px;
    font-weight: bold;
}

.orders > table {
    border: 0px none;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.orders > table > tbody > tr {
    color: #727272;
    font-size: 12px;
}

.orders > table > tbody > tr > tr {
    border-bottom: 1px groove #FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.orders > table > tbody > tr > tr > th {
    color: #BB5710;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d4d4d4));
    background: -moz-linear-gradient(center top, #ffffff 5%, #d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D4D4D4');
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px !important;
}

.orders > table > tbody > tr > tr > td {
    color: #727272;
    font-size: 12px;
    margin: 0px 0px 0px 0px !important;
}

.orders > table > tbody > tr > tr > td > a > img {
    width: 45px;
    height: 45px;
}

.orders > table > tbody > tr > tr > td > input[type="text"] {
    width: 80px;
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #eeeeee 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
    background-color: #EEEEEE;
    border: 1px inset;
}

.orders-cart {
    width: 690px;
}

.orders-wl {
    width: 450px;
}

.grid-checkbox,
.grid-number {
    width: 20px;
}

.grid-image {
    width: 55px;
}

.grid-name {
    width: 300px;
}

.grid-price {
    width: 100px;
    text-align: right;
}

.grid-quantity {
    width: 90px;
}

.grid-total-space {
    width: 495px;
}

.grid-total {
    width: 100px;
    font-weight: bold;
    font-size: 14px !important;
    text-align: right;
}

.grid-total-desc {
    width: 90px;
    font-weight: bold;
    font-size: 14px !important;
}

.wishlist-new {
    display: block;
    font-weight: bold;
    float: left;
    clear: left;
}

.wishlist-new > span {
    display: inline;
}

.wishlist-new > span > input[type="text"] {
    width: 80px;
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #eeeeee 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');
    background-color: #EEEEEE;
    border: 1px inset;
}

.wishlist-new > button {
    float: left;
    clear: left;
}

.listbox {
    font-size: 12px;
    font-weight: normal;
    border: groove;
    background-color: white;
}

.listbox > li {
    list-style-type: none;
}
