<div class="app-content">
  <div class="container">
    <span ng-hide="success" class="alert" ng-class="messageClass">{{message}}</span>
  </div>
  <div class="container">
    <div class="orders orders-cart">
      <h1>Your Active Cart</h1>
      <table>
        <tbody>
          <tr ng-cartitem-headers ng-iswl="false"></tr>
          <tr ng-item-line ng-iswl="false" ng-orders="orders" ng-items="items" ng-checked-list="checkedList"></tr>
          <tr ng-cartitem-total ng-total="total"></tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-delete" ng-click="delete()">Delete</button>
      <button type="button" class="btn buy-checkout" ng-click="checkout()">Proceed to Checkout</button>
    </div>
  </div>
</div>