<div class="app-content container">
  <div class="container">
    <span ng-hide="success" class="alert" ng-class="messageClass">{{message}}</span>
  </div>
  <div class="container">
    <div ng-itemtile ng-item="item"></div>
    <div class="container">
      <button type="button" class="btn wishlist-button" ng-click="showWishlists()">Add to Wishlist</button>
      <button type="button" class="btn buy-button" ng-click="buy()">Buy</button>
    </div>
    <div class="wishlist-new" ng-hide="hideWishlists">
      <ul class="listbox">
        <li ng-repeat="wishlist in wishls" ng-click="addToWishlist(wishlist)">{{wishlist.WishlistName}}</li>
      </ul>
      <a href="/newwishlist/{{wishlist}}" class="btn wishlist-new">New Wishlist</a>
    </div>
  </div>
</div>