<div ng-controller="ItemCtrl" class="container app-content">
  <itemtile item="item"></itemtile>

  <button type="button" class="btn wishlist-button" ng-click="showWishlists()">Add to Wishlist</button>
  <button type="button" class="btn buy-button" ng-click="buy()">Buy</button>
  <div class="wishlist-text" ng-hide="hideWishlists">
    <ul>
      <li ng-repeat="wishlist in wishls">
        <button type="button" class="btn wishlist-text" ng-click="addToWishlist(wishlist)">{{wishlist.WishlistName}}</button>
      </li>
    </ul>
  </div>
</div>